<div class="row mainbody">
    <div class="col-12">
        <div class="mainbody-title text-white text-center py-2">
            <span class="bet-content">{{title}}</span>
        </div>
    </div>
    <template v-for="bet in bets">
        <div class="col-6 bet" v-if="bet.col == 6">
            <div class="total-big">
                <span class="bet-content">{{bet.name}}</span>
                <span class="bet-item">{{bet.num}}</span>
            </div>
        </div>
        <div class="col-4 bet" v-if="bet.col == 4">
            <div class="dragon">
                <span class="bet-content">{{bet.name}}</span>
                <span class="bet-item">{{bet.num}}</span>
            </div>
        </div>
    </template>

</div>