<div class="col mainbody-box" :data-num="num">
    <div class="mainbody-title text-white text-center py-2">
        {{name}}
    </div>
    <div class="row mainbody">
        <div class="col-6 bet py-3">
            <div class="ball">0</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">1</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">2</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">3</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">4</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">5</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">6</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">7</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">8</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <div class="ball">9</div>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <span class="bet-content">大</span>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <span class="bet-content">小</span>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <span class="bet-content">单</span>
            <span>9.85</span>
        </div>
        <div class="col-6 bet py-3">
            <span class="bet-content">双</span>
            <span>9.85</span>
        </div>
    </div>
</div>