<div class="col mainbody-box" :data-num=num>
    <div class="row mainbody">
        <div class="col-12 py-3">
            <div class="mainbody-title text-white text-center">
                <span class="bet-content">牛牛</span>
            </div>
        </div>
        <div class="col-4 bet py-3" v-for="game in nunu">
            <span class="bet-content">{{game.name}}</span>
            <span class="bet-item">{{game.num}}</span>
        </div>
    </div>
    <div class="row mainbody">
        <div class="col-12 py-3">
            <div class="mainbody-title text-white text-center">
                <span class="bet-content">梭哈</span>
            </div>
        </div>
        <div class="col-4 bet py-3" v-for="game in suoha">
            <span class="bet-content">{{game.name}}</span>
            <span class="bet-item">{{game.num}}</span>
        </div>
    </div>
</div>